@model _26_BuiVanToan_BusinessObjects.Product;
@{
    ViewData["Title"] = "Update Product";
}

<h2>Update</h2>

<form onsubmit="return handleEdit()" method="post">
   <input type="hidden" asp-for="ProductId" id="id" />
    Product Name: <input type="text" id="name" class="form-control" asp-for="ProductName" /> <br />
    Category:  <select class="dropdownCate form-control" id="category"></select>
    <br />
    Price: <input type="number" id="price" placeholder="USD" class="form-control" />
    <br />

    Stock: <input type="number" id="stock" placeholder="From 1 to 500" class="form-control" />
    <br />


    <input type="submit" value="Update" class="btn btn-success">
    <a href="/" class="btn btn-outline-primary">Back to list</a>
</form>
<div id="submittedInfo"></div>
@section Scripts {
    <script>

        $(document).ready(function () {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const productId = urlParams.get('id');
            function getProductDetails() {
                // var productId = $("#id").val();
                console.log("Product ID:", productId);
                $.ajax({
                    url: `https://localhost:7218/api/Products/${productId}`,
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (product) {
                        console.log("Product details fetched successfully:", product);
                        $("#name").val(product.productName);
                        $("#price").val(product.unitPrice);
                        loadCategoryName(product.categoryId);
                        $("#stock").val(product.unitsInStock);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            }

            getProductDetails();
            function loadCategoryName(selectedCategoryId) {
                $.ajax({
                    url: "https://localhost:7218/api/Categories",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (categories) {
                        var html = '';
                        categories.forEach(function (category) {
                            var selected = (category.categoryId == selectedCategoryId) ? 'selected' : '';
                            html += '<option value="' + category.categoryId + '" ' + selected + '>' + category.categoryName + '</option>';
                        });
                        $('#category').html(html);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            }
            function handleEdit() {
                const apiEndpoint = "https://localhost:7218/api/Products"
          
                const obj = {
                    productId : productId,
                    productName: $("#name").val(),
                    unitsInStock: $("#stock").val(),
                    unitPrice: $("#price").val(),
                    categoryId: $("#category").val()
                }
                console.log("Product details successfully:", obj);
      
                $.ajax({
                    url: `https://localhost:7218/api/Products/id?id=`+productId,
                    type: "PUT",
                    data: JSON.stringify(obj),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        console.log(res)
                        
                    },
                    error: function (xhr) {
                        console.log(xhr)
                    }
                });
            }
            });
    </script>
}
