@{
    ViewData["Title"] = "List Product";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List Product</h2>

        <p>
            <a href="Products/Create" class="btn btn-dark">Create New</a>
        </p>
    </div>

    <div class="row">
        <div class="col-4">
            <form id="form-search" class="my-4">
                <h4>Search by UnitPrice </h4>
                <div class="form-group mb-2">
                    <input name="keyword" class="form-control" />
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <button id="clear-search" class="btn btn-info">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered m-2">
        <thead class="table-dark">
            <tr>
                <th>ProductID</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Units in stock</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ShowAllProduct();

            function ShowAllProduct() {
                $("table tbody").html("");
                $.ajax({
                    url: "https://localhost:7186/api/Product",
                    type: "GET",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        $.each(result, function (index, value) {
                            $("tbody").append($("<tr>"));
                            const appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(value["productID"]));
                            appendElement.append($("<td>").html(value["productName"]));
                            appendElement.append($("<td>").html(value["unitPrice"]));
                            appendElement.append($("<td>").html(value["unitsInStock"]));
                            appendElement.append($("<td>").html(value["category"]["categoryName"]));
                            appendElement.append($("<td>").html(
                                "<a class='btn btn-warning' href='Products/Edit?id=" + value["productID"] + "'>Edit</a>" +
                                "<a class='btn btn-danger ms-2 delete-btn' data-id='" + value["productID"] + "'>Delete</a>"
                            ));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                })
            }

            $("table").on("click", ".delete-btn", function () {
                var productId = $(this).data("id");
                if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này không?"+productId)) {
                    $.ajax({
                        url: "https://localhost:7186/api/Product/" + productId,
                        type: "DELETE",
                        success: function (result) {
                            ShowAllProduct();
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr);
                        }
                    });
                }
            })
                
            $("#form-search").submit(function (e) {
                e.preventDefault();
                const keyword = $("input[name='keyword']").val();
                $.ajax({
                    url: "https://localhost:7186/api/Product/Search/" + keyword,
                    type: "GET",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        if (result.length === 0) {
                            $("table tbody").html("<tr><td colspan='5' class='text-center'>No products found.</td></tr>");
                        } else {
                            $.each(result, function (index, value) {
                                $("tbody").append($("<tr>"));
                                const appendElement = $("tbody tr").last();
                                appendElement.append($("<td>").html(value["productName"]));
                                appendElement.append($("<td>").html(value["unitPrice"]));
                                appendElement.append($("<td>").html(value["unitsInStock"]));
                                appendElement.append($("<td>").html(value["category"]["categoryName"]));
                                appendElement.append($("<td>").html(
                                    "<a class='btn btn-warning' href='Products/Edit?id=" + value["productID"] + "'>Edit</a>" +
                                    "<a class='btn btn-danger ms-2 delete-btn' data-id='" + value["productID"] + "'>Delete</a>"
                                ));
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                })
            })

            $("#clear-search").click(function () {
                $("input[name='keyword']").val("");
                ShowAllProduct();
            })
        })
    </script>
}