@model _26_BuiVanToan_OdataBookStore.Models.Book

@{
    var categories = (List<_26_BuiVanToan_OdataBookStore.Models.Category>)ViewData["category"];
}

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="ISBN" class="control-label mb-1">ISBN</label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Title" class="control-label mb-1">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Price" class="control-label mb-1"> Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Author" class="control-label mb-1">Author</label>
                <input asp-for="Author" class="form-control" />
         </div>


                <div class="form-group mb-2">
                <label asp-for="Location.City" class="control-label mb-1">City</label>
                <input asp-for="Location.City" class="form-control" />
                <span asp-validation-for="Location.City" class="text-danger"></span>
            </div>    <div class="form-group mb-2">
                <label asp-for="Location.Street" class="control-label mb-1">Street</label>
                <input asp-for="Location.Street" class="form-control" />
                <span asp-validation-for="Location.Street" class="text-danger"></span>
            </div> 
        

            <div class="form-group mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}